article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.form_main {
    width: 30%;
    margin-left: 880px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
  margin-left: 10px;
}

.table_main {
  text-align: center;
  width: 50%;
  position: relative;
  margin: auto;
  margin-top: 30px;
}

.formrr {
  width: 20%;
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #45a1ff;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}